*, *:before, *:after {
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
}

html, body {
  background-color: #fff8eb;
}

body {
  font-family: 'microsoft yahei', sans-serif;
  font-size: 12px;
  color: #666666;
}
body a {
  color: #666666;
}

input, button, textarea {
  font-family: inherit;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: #ff4a00;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}

.clip-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

[class*="row"] {
  *zoom: 1;
}
[class*="row"]:before, [class*="row"]:after {
  display: table;
  content: " ";
}
[class*="row"]:after {
  clear: both;
}

.section, .category {
  margin-bottom: 10px;
  *zoom: 1;
}
.section:before, .section:after, .category:before, .category:after {
  display: table;
  content: " ";
}
.section:after, .category:after {
  clear: both;
}
.section a img, .category a img {
  display: block;
}

.section-left {
  float: left;
  width: 220px;
  margin-right: 10px;
}
.section-left .link-group a {
  width: 50%;
}

.section-middle {
  float: left;
  width: 770px;
}
.section-middle .link-group a {
  width: 20%;
}
.section-middle .image-group a {
  width: 20%;
}

.section-right {
  float: left;
  width: 200px;
}
.section-right .link-group a {
  width: 100%;
}

.section-cross-right {
  float: left;
  width: 970px;
}
.section-cross-right .link-group a {
  width: 16.66667%;
}
.section-cross-right .image-group a {
  width: 16.66667%;
}

.section-cross-left {
  float: left;
  width: 1000px;
}

.link-group {
  *zoom: 1;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.link-group:before, .link-group:after {
  display: table;
  content: " ";
}
.link-group:after {
  clear: both;
}
.link-group:last-child {
  border-bottom: none;
  margin-bottom: 0;
}
.link-group a {
  float: left;
  line-height: 16px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-group {
  *zoom: 1;
  margin-right: -10px;
  margin-bottom: 10px;
}
.image-group:before, .image-group:after {
  display: table;
  content: " ";
}
.image-group:after {
  clear: both;
}
.image-group:last-child {
  margin-bottom: 0;
}
.image-group a {
  float: left;
}

.link-row {
  *zoom: 1;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #f2f2f2;
}
.link-row:before, .link-row:after {
  display: table;
  content: " ";
}
.link-row:after {
  clear: both;
}
.link-row:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: none;
}

.link-row-left {
  float: left;
  margin-right: 10px;
}

.link-row-right {
  float: left;
}
.link-row-right a {
  display: block;
  margin-bottom: 10px;
}
.link-row-right a:last-child {
  margin-bottom: 0;
}

.category.fzxm .section-cross-left .title small {
  background: #ff6666;
}
.category.fzxm .section-right .title span {
  color: #ff6666;
}
.category.fzxm .billbord li:nth-child(1):before,
.category.fzxm .billbord li:nth-child(2):before,
.category.fzxm .billbord li:nth-child(3):before {
  background-color: #ff6666;
}
.category.fzxm .panel-style-02 .panel-header {
  border-bottom-color: #ff6666;
}
.category.mrsp .section-cross-left .title small {
  background: #ff6699;
}
.category.mrsp .section-right .title span {
  color: #ff6699;
}
.category.mrsp .billbord li:nth-child(1):before,
.category.mrsp .billbord li:nth-child(2):before,
.category.mrsp .billbord li:nth-child(3):before {
  background-color: #ff6699;
}
.category.mrsp .panel-style-02 .panel-header {
  border-bottom-color: #ff6699;
}
.category.jywl .section-cross-left .title small {
  background: #3399ff;
}
.category.jywl .section-right .title span {
  color: #3399ff;
}
.category.jywl .billbord li:nth-child(1):before,
.category.jywl .billbord li:nth-child(2):before,
.category.jywl .billbord li:nth-child(3):before {
  background-color: #3399ff;
}
.category.jywl .panel-style-02 .panel-header {
  border-bottom-color: #3399ff;
}
.category.jjjc .section-cross-left .title small {
  background: #ff9933;
}
.category.jjjc .section-right .title span {
  color: #ff9933;
}
.category.jjjc .billbord li:nth-child(1):before,
.category.jjjc .billbord li:nth-child(2):before,
.category.jjjc .billbord li:nth-child(3):before {
  background-color: #ff9933;
}
.category.jjjc .panel-style-02 .panel-header {
  border-bottom-color: #ff9933;
}
.category.hbjx .section-cross-left .title small {
  background: #009900;
}
.category.hbjx .section-right .title span {
  color: #009900;
}
.category.hbjx .billbord li:nth-child(1):before,
.category.hbjx .billbord li:nth-child(2):before,
.category.hbjx .billbord li:nth-child(3):before {
  background-color: #009900;
}
.category.hbjx .panel-style-02 .panel-header {
  border-bottom-color: #009900;
}

.hot {
  color: red;
}

[class*="banner"] img {
  width: 100%;
}

.search-select {
  position: relative;
}
.search-select select {
  border: 2px solid #ed2126;
  padding: 3px 10px;
  width: 125px;
  outline: none;
  color: #999999;
}
.search-select:before {
  content: '';
  position: absolute;
  background-color: white;
  top: 2px;
  bottom: 2px;
  right: 25px;
  width: 25px;
  pointer-events: none;
}
.search-select:after {
  content: '';
  position: absolute;
  background: white url(../images/csg-53edac91c50bb.png) no-repeat top left;
  background-position: 8px 8px;
  right: 2px;
  top: 2px;
  bottom: 2px;
  width: 25px;
  border-left: 1px solid #ffa7a7;
  pointer-events: none;
}

.search-input input {
  width: 175px;
  color: #999999;
  border: 2px solid #ed2126;
  padding: 4px 10px;
  outline: none;
}
.search-input button {
  background-color: #ed2126;
  border: none;
  outline: none;
  padding: 6px 10px;
  padding-left: 25px;
  color: white;
  position: relative;
  left: -4px;
}
.search-input button:before {
  content: '';
  position: absolute;
  background: url(../images/csg-53edac91c50bb.png) no-repeat top left;
  background-position: 0px -110px;
  left: 10px;
  top: 1px;
  bottom: 2px;
  width: 25px;
  pointer-events: none;
}

.rollover {
  position: relative;
  overflow: hidden;
}

.rollover-front,
.rollover-back {
  transition: 300ms;
}

.rollover-back {
  position: absolute;
  top: 0;
  left: 0;
}

.rollover-back {
  visibility: hidden;
  transform: translateY(100%);
}

.rollover:hover .rollover-front {
  visibility: hidden;
  transform: translateY(-100%);
}
.rollover:hover .rollover-back {
  transform: translateY(0);
  visibility: visible;
}

.section-right .banner img {
  padding-left: 10px;
  width: auto;
}

[class*="panel-style"] {
  background-color: white;
  border: 1px solid #f2f2f2;
}

.panel-style-01 {
  padding: 15px;
}

.panel-style-02 {
  padding: 15px;
}
.panel-style-02 .panel-header {
  *zoom: 1;
  border-bottom: 2px solid red;
  padding-bottom: 5px;
}
.panel-style-02 .panel-header:before, .panel-style-02 .panel-header:after {
  display: table;
  content: " ";
}
.panel-style-02 .panel-header:after {
  clear: both;
}
.panel-style-02 .panel-header .title {
  font-size: 16px;
  margin: 0;
  color: red;
  float: left;
}
.panel-style-02 .panel-header .title small {
  color: black;
  font-size: 1em;
}
.panel-style-02 .panel-header .action {
  float: right;
  position: relative;
  top: 6px;
}
.panel-style-02 .panel-body {
  padding: 10px 0;
}

.panel-style-03 {
  padding: 15px;
  border-top: 2px solid red;
}
.panel-style-03 .panel-header {
  *zoom: 1;
  margin: -15px;
  margin-bottom: 0;
  background-color: #f9f9f9;
  border-bottom: 1px solid #e1e1e1;
}
.panel-style-03 .panel-header:before, .panel-style-03 .panel-header:after {
  display: table;
  content: " ";
}
.panel-style-03 .panel-header:after {
  clear: both;
}
.panel-style-03 .panel-header .icon {
  float: left;
  top: 1px;
}
.panel-style-03 .panel-header .title {
  padding: 10px 30px;
  float: left;
  font-size: 16px;
  margin: 0;
  position: relative;
  border-right: 1px solid #e1e1e1;
  top: 1px;
  color: #333333;
}
.panel-style-03 .panel-header .title a {
  color: #333333;
}
.panel-style-03 .panel-header .title:last-child {
  border-right: none;
}
.panel-style-03 .panel-header .title.active {
  background-color: white;
  color: red;
  border: none;
}
.panel-style-03 .panel-header .title.active:after {
  content: '';
  width: 0;
  height: 0;
  display: block;
  position: absolute;
  border-left: 5px solid #efefef;
  border-bottom: 20px solid #efefef;
  border-right: 5px solid transparent;
  border-top: 21px solid transparent;
  right: -10px;
  top: 0;
}
.panel-style-03 .panel-header .action {
  float: right;
  margin-right: 15px;
  position: relative;
  top: 15px;
}
.panel-style-03 .panel-body {
  padding: 10px 0;
}

.panel-style-04 {
  padding: 15px;
}
.panel-style-04 .panel-header {
  *zoom: 1;
  padding-bottom: 15px;
}
.panel-style-04 .panel-header:before, .panel-style-04 .panel-header:after {
  display: table;
  content: " ";
}
.panel-style-04 .panel-header:after {
  clear: both;
}
.panel-style-04 .panel-header .title {
  font-size: 16px;
  margin: 0;
  float: left;
  color: #333333;
}
.panel-style-04 .panel-header .title small {
  display: inline-block;
  background: red;
  font-size: 12px;
  border-radius: 3px;
  padding: 3px 5px;
  position: relative;
  top: -1px;
}
.panel-style-04 .panel-header .title small a {
  color: white;
}
.panel-style-04 .panel-header .action {
  float: right;
  position: relative;
  top: 3px;
}
.panel-style-04 .panel-header .action a {
  margin-right: 5px;
}
.panel-style-04 .panel-header .action a:after {
  display: inline-block;
  content: '|';
  margin-left: 8px;
}
.panel-style-04 .panel-header .action a:last-child {
  margin-right: 0;
}
.panel-style-04 .panel-header .action a:last-child:after {
  content: '';
}
.panel-style-04 .panel-body .panel-body-left {
  float: left;
  width: 205px;
  margin-right: 9px;
}
.panel-style-04 .panel-body .panel-body-left a {
  position: relative;
  display: block;
}
.panel-style-04 .panel-body .panel-body-left img {
  display: block;
}
.panel-style-04 .panel-body .panel-body-left .cover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 15px 20px;
}
.panel-style-04 .panel-body .panel-body-left .cover div:first-child {
  font-size: 24px;
}
.panel-style-04 .panel-body .panel-body-left .cover div:last-child {
  font-size: 16px;
}
.panel-style-04 .panel-body .panel-body-right {
  float: left;
  width: 754px;
}
.panel-style-04 .panel-body .panel-body-right a {
  position: relative;
  float: left;
  margin-right: 11px;
  margin-bottom: 10px;
}
.panel-style-04 .panel-body .panel-body-right a:nth-child(4n) {
  margin-right: 0;
}
.panel-style-04 .panel-body .panel-body-right img {
  display: block;
}
.panel-style-04 .panel-body .panel-body-right .cover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  text-align: center;
}

.pin-left, .pin-right {
  position: fixed;
  top: 210px;
  z-index: 999;
}

.pin-left {
  left: 0;
}

.pin-right {
  right: 0;
}

.side-ad {
  background-color: white;
  border: 1px solid red;
}
.side-ad.hide {
  left: -97px;
}
.side-ad img {
  display: block;
}
.side-ad .toggle {
  border: none;
  position: absolute;
  top: 0;
  right: -25px;
  width: 25px;
  text-align: center;
  outline: none;
}
.side-ad.pin-right .toggle {
  right: auto;
  left: -25px;
}
.side-ad.pin-right.hide {
  left: auto;
  right: -97px;
}

i.icon {
  display: inline-block;
  font-style: normal;
}

[class*="sub-nav-sprite"] {
  background: url(../images/csg-53ed385749edd.png) no-repeat top left;
}

.sub-nav-sprite-canyin {
  background-position: 0 0;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-fuzhuang {
  background-position: 0 -90px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-huanbao {
  background-position: 0 -180px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-jiaju {
  background-position: 0 -270px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-jiaoyu {
  background-position: 0 -360px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-lingshi {
  background-position: 0 -450px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-meirong {
  background-position: 0 -540px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-qiche {
  background-position: 0 -630px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-shaokao {
  background-position: 0 -720px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-shipin {
  background-position: 0 -810px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-tese {
  background-position: 0 -900px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-wangluo {
  background-position: 0 -990px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-xiaochi {
  background-position: 0 -1080px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-xican {
  background-position: 0 -1170px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-xinrui {
  background-position: 0 -1260px;
  width: 40px;
  height: 40px;
}

.sub-nav-sprite-zhongcan {
  background-position: 0 -1350px;
  width: 40px;
  height: 40px;
}

[class*="panel-header-sprite"] {
  background: url(../images/csg-53ed38a133277.png) no-repeat top left;
  position: relative;
  top: 4px;
  margin-right: 3px;
}

.panel-header-sprite-cyxc {
  background-position: 0 0;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-fzxm, .category.fzxm .section-right .title .icon {
  background-position: 0 -70px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-hbjx, .category.hbjx .section-right .title .icon {
  background-position: 0 -140px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-jjjc, .category.jjjc .section-right .title .icon {
  background-position: 0 -210px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-jptj {
  background-position: 0 -280px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-jpxm {
  background-position: 0 -350px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-jywl, .category.jywl .section-right .title .icon {
  background-position: 0 -420px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-lzh {
  background-position: 0 -490px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-money {
  background-position: 0 -560px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-mrsp, .category.mrsp .section-right .title .icon {
  background-position: 0 -630px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-mxdy {
  background-position: 0 -700px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-pptj {
  background-position: 0 -770px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-rqtj {
  background-position: 0 -840px;
  width: 20px;
  height: 20px;
}

.panel-header-sprite-zxtj {
  background-position: 0 -910px;
  width: 20px;
  height: 20px;
}

[class*="footer-nav-sprite"] {
  display: block !important;
  background: url(../images/csg-53ed6a12721df.png) no-repeat top left;
}

.footer-nav-sprite-1-5wan {
  background-position: 0 0;
  width: 160px;
  height: 130px;
}

.footer-nav-sprite-canyin {
  background-position: 0 -180px;
  width: 120px;
  height: 64px;
}

.footer-nav-sprite-fuzhuang {
  background-position: 0 -294px;
  width: 120px;
  height: 64px;
}

.footer-nav-sprite-huanbao {
  background-position: 0 -408px;
  width: 120px;
  height: 60px;
}

.footer-nav-sprite-jiaju {
  background-position: 0 -518px;
  width: 120px;
  height: 64px;
}

.footer-nav-sprite-jiaoyu {
  background-position: 0 -632px;
  width: 120px;
  height: 65px;
}

.footer-nav-sprite-meirong {
  background-position: 0 -747px;
  width: 120px;
  height: 66px;
}

.footer-nav-sprite-paihang {
  background-position: 0 -863px;
  width: 160px;
  height: 130px;
}

.footer-nav-sprite-shipinlipin {
  background-position: 0 -1043px;
  width: 120px;
  height: 64px;
}

.footer-nav-sprite-shouye {
  background-position: 0 -1157px;
  width: 140px;
  height: 130px;
}

.footer-nav-sprite-tesechuangxin {
  background-position: 0 -1337px;
  width: 120px;
  height: 64px;
}

.footer-nav-sprite-weixin {
  background-position: 0 -1451px;
  width: 190px;
  height: 130px;
}

[class*=helper-sprite] {
  background: url(../images/csg-53edac91c50bb.png) no-repeat top left;
}

.helper-sprite-dropdown {
  background-position: 0 0;
  width: 9px;
  height: 7px;
}

.helper-sprite-menu {
  background-position: 0 -57px;
  width: 14px;
  height: 10px;
}

.helper-sprite-search {
  background-position: 0 -117px;
  width: 13px;
  height: 12px;
}

/* wq-section-01*/
.wq-section-01 {
  background-color: #fff;
}
.wq-section-01 .wq-section-01-header {
  border-bottom: 1px solid #e8e8e8;
  padding: 15px 0 10px;
}
.wq-section-01 .wq-section-01-body {
  padding: 15px 0;
}
.wq-section-01 .wq-section-01-header span {
  color: #000;
}
.wq-section-01 .wq-section-01-header a {
  padding: 0 5px;
}
.wq-section-01 .wq-section-01-body-description-left {
  float: left;
  width: 620px;
}
.wq-section-01 .wq-section-01-body-description-left img {
  float: left;
  margin-right: 10px;
}
.wq-section-01 .wq-section-01-body-description-left p {
  width: 480px;
  line-height: 24px;
  margin: 0;
}
.wq-section-01 .wq-section-01-body-description-right {
  float: right;
  width: 447px;
  margin-top: 10px;
}
.wq-section-01 .wq-section-01-body-description-right a {
  display: inline-block;
  margin-right: 5px;
}
.wq-section-01 .wq-section-01-body-description-right a:nth-child(3n) {
  margin-right: 0;
}
.wq-section-01 .wq-section-01-body-nav {
  margin-top: 15px;
}
.wq-section-01 .wq-section-01-body-nav-left {
  float: left;
  width: 120px;
  margin-right: 10px;
  background-color: #ebe7e6;
  text-align: center;
  padding: 10px 0;
}
.wq-section-01 .wq-section-01-body-nav-left span {
  display: block;
  margin-bottom: 15px;
  color: #000;
}
.wq-section-01 .wq-section-01-body-nav-left span:nth-child(3n) {
  margin-bottom: 0;
}
.wq-section-01 .wq-section-01-body-nav-right {
  float: left;
  margin: 7px 0;
}
.wq-section-01 .wq-section-01-body-nav-right div {
  /* margin: 10px 0; */
  margin-bottom: 10px;
  color: #666666;
  font-size: 12px;
}
.wq-section-01 .wq-section-01-body-nav-right div:nth-child(3n) {
  margin-bottom: 0;
}
.wq-section-01 .wq-section-01-body-nav-right span {
  color: #fff;
  font-size: 14px;
  padding: 0 10px;
  background-color: #f00;
  border-radius: 10px;
}
.wq-section-01 .wq-section-01-body-nav-right a {
  padding: 0 20px;
}

/* wq-section-02*/
.wq-section-02 {
  /* wq-section-02-left*/
  margin-bottom: 15px;
  padding-bottom: 35px;
  min-height: 1220px;
  background-color: #fff;
  /* wq-section-02-right*/
}
.wq-section-02 .wq-section-02-left {
  margin-top: 20px;
  float: left;
  width: 220px;
  height: 1170px;
  padding: 0px 20px;
  border: 1px solid #e0e0e0;
  /* search box*/
  /* leftside-panel*/
  /* part-4*/
  /* .part-5*/
}
.wq-section-02 .wq-section-02-left .search form {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  background-color: #ff4a00;
}
.wq-section-02 .wq-section-02-left .search input {
  width: 70%;
  border: 1px solid #ff4a00;
  background-color: #fff8eb;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 30px;
  padding-left: 5px;
}
.wq-section-02 .wq-section-02-left .search button {
  width: 25%;
  outline: 0;
  border: 0px;
  background-color: transparent;
  color: #fff;
}
.wq-section-02 .wq-section-02-left .leftside-panel {
  padding-bottom: 10px;
  margin-bottom: 8px;
  background: url(../images/left_panel_bottom_line.png) no-repeat center bottom;
  /* reset p*/
  /* soo-title*/
  /* soo-body*/
}
.wq-section-02 .wq-section-02-left .leftside-panel p {
  margin: 0px;
}
.wq-section-02 .wq-section-02-left .leftside-panel .soo-title {
  font-size: 14px;
  color: #ff4a00;
  margin: 3px 0px;
}
.wq-section-02 .wq-section-02-left .leftside-panel .soo-body {
  line-height: 25px;
}
.wq-section-02 .wq-section-02-left .leftside-panel .soo-body a {
  display: inline-block;
  color: #666666;
  font-size: 12px;
}
.wq-section-02 .wq-section-02-left .leftside-panel .so-hot {
  font-size: 12px;
  color: #ff4a00;
}
.wq-section-02 .wq-section-02-left .part-4 a.text-block {
  display: inline-block;
  /* height: 19px; */
  background-color: #ff4a00;
  padding: 0px 8px;
  font-size: 14px;
  margin: 3px 0px;
  color: #ffffff;
}
.wq-section-02 .wq-section-02-left .part-5 {
  background: none;
}
.wq-section-02 .wq-section-02-left .part-5 .news a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  white-space: nowrap;
}
.wq-section-02 .wq-section-02-right {
  /**/
  width: 965px;
  float: right;
}
.wq-section-02 .wq-section-02-right .aoo-title {
  font-size: 14px;
  font-weight: bolder;
  border-bottom: 2px solid #ff4a00;
}
.wq-section-02 .wq-section-02-right .aoo-title .total {
  float: right;
}
.wq-section-02 .wq-section-02-right .aoo-title b {
  color: red;
}
.wq-section-02 .wq-section-02-right .aoo-body {
  margin: -5px;
  margin-top: 7px;
}
.wq-section-02 .wq-section-02-right .aoo-body .list-item {
  display: block;
  width: 151px;
  height: 180px;
  float: left;
  /* background-color: red; */
  margin: 7px 5px;
}
.wq-section-02 .wq-section-02-right .aoo-body .list-item:hover {
  text-decoration: none;
}
.wq-section-02 .wq-section-02-right .aoo-body .list-item:hover .notice-num {
  background: url(../images/red_heart_shape.png) no-repeat left center;
}
.wq-section-02 .wq-section-02-right .aoo-body .list-item:hover .consult-link {
  padding-left: 10px;
  /* padding-right: 1px; */
  transition: 300ms;
}
.wq-section-02 .wq-section-02-right .aoo-body .list-item .boo-title {
  margin: 0px 3px;
  font-weight: bolder;
}
.wq-section-02 .wq-section-02-right .aoo-body .list-item p {
  margin: 0px 5px;
  margin-bottom: 5px;
}
.wq-section-02 .wq-section-02-right .aoo-body .list-item .notice-num {
  margin-left: 7px;
  background: url(../images/heart_shape.png) no-repeat left center;
  padding-left: 20px;
}
.wq-section-02 .wq-section-02-right .aoo-body .list-item .consult-link {
  transition: 300ms;
  padding: 4px 6px;
  margin: 0px 5px;
  color: #fff;
  font-size: 12px;
  background-color: #ff4a00;
}
.wq-section-02 .wq-section-02-right .aoo-body .list-item .consult-link:hover {
  text-decoration: none;
}

/* wq-section-03*/
.wq-section-03 {
  background-color: #fff;
  padding: 15px 0;
  margin-bottom: 15px;
}
.wq-section-03 .wq-section-03-header h5 {
  color: #f00;
  margin: 0;
  padding: 0 0 5px 15px;
  font-size: 14px;
}
.wq-section-03 .wq-section-03-header {
  border-bottom: 2px solid #ff4a00;
}
.wq-section-03 .wq-section-03-body {
  padding-top: 10px;
}
.wq-section-03 .wq-section-03-body a {
  display: inline-block;
  margin-right: 2px;
}
.wq-section-03 .wq-section-03-body a:nth-child(11n) {
  margin-right: 0;
}
.wq-section-03 .wq-section-03-body-item {
  margin-bottom: 2px;
}
.wq-section-03 .wq-section-03-body-item:nth-child(4n) {
  margin-bottom: 0;
}

/* wq-section-04*/
.wq-section-04 {
  background-color: #fff;
  border-top: 2px solid #ff4a00;
  padding-top: 15px;
}
.wq-section-04 .Preparatory-header h2, .wq-section-04 .Entrepreneurial-story-header h2, .wq-section-04 .wq-section-04-left-header h2, .wq-section-04 .wq-section-04-right-header h2 {
  margin: 0;
  color: #ff4a00;
  font-size: 16px;
}
.wq-section-04 .wq-section-04-left, .wq-section-04 .wq-section-04-right {
  float: left;
  width: 210px;
}
.wq-section-04 .wq-section-04-middle {
  float: left;
  width: 760px;
}
.wq-section-04 .wq-section-04-left, .wq-section-04 .wq-section-04-right, .wq-section-04 .wq-section-04-middle {
  border: 1px solid #efefef;
  margin-right: 10px;
  padding: 20px 20px 30px;
}
.wq-section-04 .wq-section-04-right {
  margin-right: 0;
}
.wq-section-04 .wq-section-04-left-header, .wq-section-04 .wq-section-04-right-header {
  padding-bottom: 10px;
  background: url(../images/bg-bottom.png) no-repeat left bottom;
}
.wq-section-04 .Preparatory-header, .wq-section-04 .Entrepreneurial-story-header {
  padding-bottom: 10px;
}
.wq-section-04 .Preparatory {
  width: 330px;
  float: left;
}
.wq-section-04 .Entrepreneurial-story {
  width: 370px;
  float: right;
}
.wq-section-04 .wq-section-04-left-body a, .wq-section-04 .wq-section-04-right-body a {
  display: block;
  padding-top: 9px;
  letter-spacing: 0.8px;
}
.wq-section-04 .wq-section-04-right-body a {
  width: 160px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wq-section-04 .Preparatory-body-item-images {
  float: left;
  width: 140px;
  margin-right: 10px;
}
.wq-section-04 .Preparatory-body-item-project {
  float: left;
  width: 180px;
}
.wq-section-04 .Preparatory-body-item-project a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
  letter-spacing: 0.8px;
  padding: 4px 0;
}
.wq-section-04 .Preparatory-body-item {
  margin-bottom: 8px;
}
.wq-section-04 .Preparatory-body-item:nth-child(4n) {
  margin-bottom: 0;
}
.wq-section-04 .Entrepreneurial-story-body-item {
  margin-bottom: 10px;
}
.wq-section-04 .Entrepreneurial-story-body-item:nth-child(3n) {
  margin-bottom: 0;
}
.wq-section-04 .Entrepreneurial-story-body-item-images {
  float: left;
  width: 140px;
}
.wq-section-04 .Entrepreneurial-story-body-item-text {
  float: left;
  width: 205px;
  padding: 10px 0;
}
.wq-section-04 .Entrepreneurial-story-body-item-text h3 {
  color: #000;
  font-size: 14px;
  margin: 0;
}
.wq-section-04 .Entrepreneurial-story-body-item-text p {
  margin: 5px 0 0;
}
.wq-section-04 .Entrepreneurial-story-body-item-text p a {
  color: #ff4a00;
}
