@charset"utf-8";
@import"util";
@import"base";
@import"layout";
@import"component";
@import"sprite";


/* page-header*/
.page-header{
  .page-header-section1{
    padding:10px 30px 15px;
  }
  .page-header-section1 .logo h1{
    margin:0;
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    width: 181px;
    height: 61px;
    text-indent:-999px;

  }
  .page-header-section1 .logo{
    float: left;
    width:280px;

  }
  .page-header-page-right{
    float: left;
    width:860px;
    margin-top:10px;
  }
  .top-search-search{
    float: left;
  }
  .search-icon{
    display:inline-block;
    width:20px;
    height:16px;
    background-image:url(../images/search.png);
    background-repeat:no-repeat;
    position:relative;
    top:3px;
    left:-5px;
  }
  .top-search-search button{
    background-color:#ff4a00;
    padding:5px 25px;
    border:none;
    color:#fff;
    vertical-align:middle;
    }
.top-search-search input{
  border:1px solid #ff4a00;
  padding:6px 0 5px;
  width:380px;
  position:relative;
vertical-align:middle;
  left:-5px;
  text-indent:1em;

}

  .top-search-logo{
    float: right;
    background-color:#ff4a00;
    padding:5px 45px;
  }
  .top-search-logo a{
    color:#fff;
    display:inline-block;
    margin-right:10px;
  }
  .page-nav{
    margin-top:8px;
  }
  .page-nav span,.page-nav a{

    display:inline-block;
    margin-right:15px;
  }
  .page-nav span{
    color:#ff4a00;
  }
  .page-header-section2{
    border-top:1px solid #ff4a00;
    padding:0 15px;
    position:relative;
  }
  .page-header-section2:before{
    display:block;
    content:"";
    width:23px;
    height:11px;
    background:url(../images/three-bl.png) no-repeat;
    position:absolute;
    top:-10px;
    left:18px;
  }
  .page-header-section2 h1{
    background-color:#ff4a00;
    font-size:16px;
    color:#fff;
    width:30px;
    float: left;
    margin-top:1px;
        padding:5px;
  }
  .page-header-section2 h1:before{
    content:"";
    width:5px;
    height:2px;
background-color:#ff4a00;
position:relative;
top:-7px;
display:block;
left:7px;

  }
  .page-header-sub-nav{
    float: right;
    width:1140px;
    padding:5px 10px;
  }
  .page-header-sub-nav div{
    float: left;
margin-bottom:5px;
    margin-right:24px;
  }
  .page-header-sub-nav div:nth-child(6n){
    margin-right:0
  }
  .page-header-sub-nav div span{
    color:#ff4a00;
    display:inline-block;
    margin-right:10px;
  }
  .page-header-sub-nav div a{
    display:inline-block;
    margin-right:8px;
  }
}



/* page-main*/
.page-main {
    /* page-main-left*/
    width: 1200px;
    margin: 0px auto;
    margin-bottom: 15px;
    padding-bottom: 35px;
    min-height: 1220px;
    background-color: #fff;
    $side_soo_title_color: #ff4a00;
    $the_light_gray_color:#e0e0e0;
    .page-main-left {
        margin-top: 20px;
        float: left;
        width: 220px;
        height: 1170px;
        padding: 0px 20px;
        border: 1px solid #e0e0e0;
        .search {
            form {
                margin-top: 10px;
                margin-bottom: 20px;
                width: 100%;
                background-color: $side_soo_title_color;
            }
            input {
                width: 70%;
                border: 1px solid $side_soo_title_color;
                background-color: #fff8eb;
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
                height: 30px;
                padding-left: 5px;
            }
            button {
                width: 25%;
                outline: 0;
                border: 0px;
                background-color: transparent;
                color: #fff;
            }
        }
        /* search box*/

        .leftside-panel {
            padding-bottom: 10px;
            margin-bottom: 8px;
            background: url(../images/left_panel_bottom_line.png) no-repeat center bottom;
            /* reset p*/

            p {
                margin: 0px;
            }
            /* soo-title*/

            .soo-title {
                font-size: 14px;
                color: $side_soo_title_color;
                margin: 3px 0px;
            }
            /* soo-body*/

            .soo-body {
                line-height: 25px;
                a {
                    display: inline-block;
                    color: #666666;
                    font-size: 12px;
                }
            }
            .so-hot {
                font-size: 12px;
                color: $side_soo_title_color;
            }
        }
        /* leftside-panel*/

        .part-4 {
            a.text-block {
                display: inline-block;
                /* height: 19px; */

                background-color: #ff4a00;
                padding: 0px 8px;
                font-size: 14px;
                margin: 3px 0px;
                color: #ffffff;
            }
        }
        /* part-4*/

        .part-5 {
            background: none;
            .news {
                a {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    -ms-text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
        }
        /* .part-5*/
    }
    .page-main-middle{
    	width: 710px;
    	float: left;
    }
    /* page-main-right*/

    .page-main-right {
    	width: 265px;
    	float: left;
    	$right_panel_bg_color:#f9f9f9;
    	/* rightside-panel*/
    	.rightside-panel{

			.panel-title{
				font-size: 14px;
				margin: 0px;
				padding: 10px 10px;
				border: 1px solid $the_light_gray_color;
				color: $side_soo_title_color;
				background-color: $right_panel_bg_color;
				b{
					color: red;
				}
			}
			.panel-body{
				border: 1px solid $the_light_gray_color;
				border-top: none;
				&:last-child:after{
				    height: 0;
				    content: ".";
				    clear: both;
				    display: block;
				    visibility: hidden;
				}

			}
    	}
    	/* times-right-top*/
    	.times-right-top{
    		a{
    			display: block;
    		}
    	}
    	/* rightside-section-1*/
    	.rightside-section-1{
			table{
				.the-top-one{
					height: 75px;
				}
			}
    	}
    	/* rightside-section-2*/
    	.rightside-section-2{
			a{
				width: 49%;
				float: left;
				font-size: 12px;
				color: #666;
				padding-left: 10px;
				background: url(../images/rightside_the_gray_dot.png) no-repeat left center;
				&:hover{
					background-image: url(../images/rightside_the_red_dot.png);
				}
			}

    	}

    	/* rightside-section-3*/
    	.rightside-section-3{
    		a{
    			width: 100%;
    			display: block;
    			float: left;
    		}
    		.bottom-link{
				width: 49%;
			}
    	}

    	/* rightside-section-4*/
    	.rightside-section-4{
    		.the-firstone{
    			.top-info{
    				width: 50%;
    				float: right;
    				.look-more{
    					color: $side_soo_title_color;
    				}
    			}
    		}
    		a{
    			display: block;
    			width: 100%;
    			float: left;
    		}
    	}
    }
}

