@charset"utf-8";
@import"util";
@import"base";
@import"layout";
@import"component";
@import"sprite";
/* page-header*/
.page-header{
  .page-header-bgColor{
    background-color:#fff;
  }
  .page-header-section1{
    padding:10px 30px 15px;
  }
  .page-header-section1 .logo h1{
    margin:0;
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    width: 181px;
    height: 61px;
    text-indent:-999px;

  }
  .page-header-section1 .logo{
    float: left;
    width:280px;

  }
  .page-header-page-right{
    float: left;
    width:860px;
    margin-top:10px;
  }
  .top-search-search{
    float: left;
  }
  .search-icon{
    display:inline-block;
    width:20px;
    height:16px;
    background-image:url(../images/search.png);
    background-repeat:no-repeat;
    position:relative;
    top:3px;
    left:-5px;
  }
  .top-search-search button{
    background-color:#ff4a00;
    padding:5px 25px;
    border:none;
    color:#fff;
    vertical-align:middle;
    }
.top-search-search input{
  border:1px solid #ff4a00;
  padding:6px 0 5px;
  width:380px;
  position:relative;
vertical-align:middle;
  left:-5px;
  text-indent:1em;

}
.top-search-search input:focus,  .top-search-search button:focus{
  outline:none;
}

  .top-search-logo{
    float: right;
    background-color:#ff4a00;
    padding:5px 40px;
  }
  .top-search-logo a{
    color:#fff;
    display:inline-block;
    margin:0 10px;
  }
  .page-nav{
    margin-top:8px;
  }
  .page-nav span,.page-nav a{

    display:inline-block;
    margin-right:15px;
  }
  .page-nav span{
    color:#ff4a00;
  }
  .page-header-section2{
    border-top:1px solid #ff4a00;
    padding:0 15px;
    position:relative;
  }
  .page-header-section2:before{
    display:block;
    content:"";
    width:23px;
    height:11px;
    background:url(../images/three-bl.png) no-repeat;
    position:absolute;
    top:-10px;
    left:18px;
  }
  .page-header-section2 h1{
    background-color:#ff4a00;
    font-size:16px;
    color:#fff;
    width:30px;
    float: left;
    margin-top:1px;
        padding:5px;
  }
  .page-header-section2 h1:before{
    content:"";
    width:5px;
    height:2px;
background-color:#ff4a00;
position:relative;
top:-7px;
display:block;
left:7px;

  }
  .page-header-sub-nav{
    float: right;
    width:1140px;
    padding:9px 10px 5px;
  }
  .page-header-sub-nav div{
    float: left;
margin-bottom:5px;
    // margin-right:23px;
  }
  .page-header-sub-nav div:nth-child(6n){
    margin-right:0
  }
  .page-header-sub-nav div span{
    color:#ff4a00;
    display:inline-block;
    margin-right:10px;
  }
  .page-header-sub-nav div a{
    display:inline-block;
    margin-right:8px;
  }
  .sub-nav-item-5{
    width:230px;
  }
  .sub-nav-item-4{
    width:200px;
  }
  .sub-nav-item-3{
    width:160px;
  }
  .sub-nav-item-2{
    width:170px;
  }

}
/* page-main*/
.page-main{
  .page-main-header{
    padding:10px 0 5px 10px;
    border-bottom:1px solid #ff4a00;
  }
  .wq-section-02-right{
    float: right;
    width:970px;
  }
  .page-main-body{
    margin-top:10px;
    position:relative;
  }

  width: 1200px;
  margin: 0px auto;
  margin-bottom: 15px;

  padding-bottom: 35px;
  // min-height: 1220px;
  background-color: #fff;
  $side_soo_title_color: #ff4a00;
  $the_light_gray_color:#e0e0e0;
  /* page-main-left*/
  .page-main-left {

      float: left;
      width: 220px;
      margin-right:10px;
      padding: 0px 20px;
      border: 1px solid #e0e0e0;
      .search {
          form {
              margin-top: 10px;
              margin-bottom: 20px;
              width: 100%;
              background-color: $side_soo_title_color;
          }
          input {
              width: 70%;
              border: 1px solid $side_soo_title_color;
              background-color: #fff8eb;
              -webkit-box-shadow: none;
              -moz-box-shadow: none;
              box-shadow: none;
              height: 30px;
              padding-left: 5px;
          }
          button {
              width: 25%;
              outline: 0;
              border: 0px;
              background-color: transparent;
              color: #fff;
          }
      }
      /* search box*/

      .leftside-panel {
          padding-bottom: 10px;
          margin-bottom: 8px;
          background: url(../images/left_panel_bottom_line.png) no-repeat center bottom;
          /* reset p*/

          p {
              margin: 0px;
          }
          /* soo-title*/

          .soo-title {
              font-size: 14px;
              color: $side_soo_title_color;
              margin: 3px 0px;
          }
          /* soo-body*/

          .soo-body {
              line-height: 25px;
              a {
                  display: inline-block;
                  color: #666666;
                  font-size: 12px;
              }
              a:hover{
                // color:#ff4a00;
              }
          }
          .so-hot {
              font-size: 12px;
              color: $side_soo_title_color;
          }
      }
      /* leftside-panel*/

      .part-4 {
          a.text-block {
              display: inline-block;
              /* height: 19px; */

              background-color: #ff4a00;
              padding: 0px 8px;
              font-size: 14px;
              margin: 3px 0px;
              color: #ffffff;
          }
      }
      /* part-4*/

      .part-5 {
          background: none;
          .news {
              a {
                  display: block;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  -ms-text-overflow: ellipsis;
                  white-space: nowrap;
              }
          }
      }
      /* .part-5*/
  }
  // .page-main-middle{
  //   width: 700px;
  //   margin:0 5px 0 0;
  //   padding:30px 20px;
  //   float: left;
  //   background-color:#f7fcff;
  //   border:1px solid #e0e0e0;
  //   .page-main-middle-body{
  //     height:1450px;
  //   }
  //   .page-main-middle-bottom{
  //       .page-main-middle-bottom-section1{
  //         margin-bottom:20px;
  //         .section1-tab{
  //           .section1-tab-left{
  //             float: left;
  //             width:50px;
  //             vertical-align: middle;
  //             span{
  //               color:#333333;
  //               font-size:14px;
  //             }
  //           }
  //           .section-tab-right{
  //             float: left;
  //             width:250px;
  //             vertical-align: middle;
  //             a{
  //               display:inline-block;
  //               margin-right:15px;
  //             line-height:20px;
  //             }
  //           }
  //         }
  //         .section1-pageOther{
  //           margin-top:30px;
  //           margin-left:210px;
  //           // text-align: right;

  //           .pagedown{
  //             float: right;
  //             width:230px;
  //           }
  //           .pageUP{
  //             float: left;
  //             margin-right:20px;
  //             width:230px;
  //           }
  //         }
  //       }
  //       .page-main-middle-bottom-section2{
  //         .section2-title{
  //           h2{
  //             font-size:14px;
  //             color:#333;
  //             margin:0 0 5px;
  //           }

  //         }
  //         .section2-body{
  //           a{
  //             display:inline-block;
  //             margin-right:30px;

  //             width:300px;

  //               overflow:hidden;
  //              text-overflow:ellipsis;
  //             white-space:nowrap;
  //           }
  //           a:nth-child(2n){
  //             margin-right:0;
  //           }
  //         }
  //       }
  //   }
  // }

  /* page-main-right*/
.page-main-right{
  float: left;
width:970px;
  .page-main-right-section1{

  }
  /* page-main-right-section1*/
  .page-main-right-section2{
    .business-consulting-header{
      h1{
        height:35px;
        width:970px;

        background:url(../images/se2-header.jpg) no-repeat left top;
        text-indent:-999px;
      }
    }
    /* business-consulting-body-left*/
    .business-consulting-body-left{
      float: left;
      width:690px;
      border:1px solid #e0e0e0;
      border-bottom:0;
      margin-right:10px;
      .business-consulting-body-left-item{
        float: left;
        width:344px;
        border-right:1px solid #e0e0e0;
        border-bottom:1px solid #e0e0e0;
        .business-consulting-left-item-header{
          border-bottom:2px solid #cc3333;
          padding:10px;
          h2{

            margin:0;
            color:#cc3333;
            font-size:16px;
            float: left;
            .icon-fz{
              background: url(../images/icon-fuzhuang.jpg) no-repeat top left;
              display:inline-block;
              width:17px;
              height:13px;
              margin-right:10px;

            }
          }
          a{
            display:block;
            float: right;
            position: relative;
            top: 2px;
          }
        }
        .business-consulting-left-item-body{
          padding:10px 10px 20px;
          .item-case-images{
            float: left;
            width:100px;
            margin-right:10px;
          }
          .item-case-text{
            float: left;
             width:210px;
             h3{
              font-size:14px;
              color:#333333;
              margin:0;
             }
             p{
              margin:5px 0 0;
              line-height:20px;
              a{
                color:#f00;
              }
             }
          }
          .business-consulting-left-item-project{
            margin:10px 0;
            ul{
              margin:0;
              padding:0;
              margin-left:15px;
              li{
                list-style-type:square;
                margin-bottom:10px;
                a{
                  font-size:14px;
                  color:#333;

                }
              }

            }
          }
          .business-consulting-left-item-hotproject{
            a{
              display:inline-block;
              text-decoration:underline;
              color:#f00;
              font-size:14px;
              margin-right:10px;
            }
          }
        }
      }
      .business-consulting-body-left-item:nth-child(2n){
        border-right:0;
      }
    }
    /* business-consulting-body-right*/
    .business-consulting-body-right{
      $side_soo_title_color: #ff4a00;
      $the_light_gray_color:#e0e0e0;
      $right_panel_bg_color:#f9f9f9;
      float: left;
      width:270px;
      // border:1px solid #e0e0e0;
      .rightside-section-1,.rightside-section-2,.rightside-section-3,.rightside-section-4{
        margin-bottom:10px;
      }
      .rightside-section-2,.rightside-section-3{
        .panel-body{
          a{
            display:block;
            margin-bottom:9px;
          }
          a:nth-child(7n){
            margin-bottom:0;
          }
        }
      }
      .rightside-section-3{
        .panel-body{
          a:nth-child(5n){
            margin-bottom:0;
          }
        }
      }
      .rightside-section-4{
        .panel-body{
          padding:10px 10px 0;
          a{
            display:block;
            margin-bottom:8px;
          }
          .rightside-section-4-images{
            a{
              float: left;
              margin-right:10px;
            }
          }
        }
      }
      .sprite-arrow-blue-arrow{ background-position: 0 0; width: 10px; height: 10px;margin-left:10px;}
      .sprite-arrow-yellow-arrow{ background-position: 0 -60px; width: 10px; height: 10px;margin-left:10px;margin-right:15px; }
      [class*="sprite-arrow"]{
          background-image:url(../images/csg-5452e6ebe0549.png);
          background-repeat: no-repeat;
      }
      .panel-body{
              padding:10px 10px 20px;
              border: 1px solid $the_light_gray_color;
              border-top: none;
              // a{
              //   display:block;
              //   margin-bottom:10px;
              // }
              &:last-child:after{
                  height: 0;
                  content: ".";
                  clear: both;
                  display: block;
                  visibility: hidden;
              }
              .the-firstone{
                img{       float: left;
                            width: 110px;
                            margin-right:10px;
                          }
                          .the-firstone-content{
                            float: left;
                            width:120px;
                          }
                          .the-firstone-content a{

                          color:#ff4a00;
                          display:inline;
                          }
                          h2{
                            margin:0;
                            color:#666666;
                            font-size:14px;
                          }
              }

      }
      .panel-title{
        font-size: 14px;
        margin: 0px;
        padding: 10px 10px;
        border: 1px solid $the_light_gray_color;
        color: $side_soo_title_color;
        background-color: $right_panel_bg_color;
        b{
          color: red;
        }

      }


    }


    .news-billboard{
      padding:0;
      margin:0;
      counter-reset: li;
    }

    .news-billboard li{
      list-style:none;
      padding:8px 0;
      border-bottom:1px dotted #bababa;
    }

    .news-billboard li>a{
        display:inline-block;
        width:120px;
        overflow:hidden;
       text-overflow:ellipsis;
      white-space:nowrap;
      position:relative;
      top:3px;
    }
    .news-billboard li:before {
        content: counter(li);
        counter-increment: li;
        color: white;
        background-color: #666666;
        width: 17px;
        line-height: 17px;
        display: inline-block;
        position: relative;
        text-align: center;
        margin-right: 5px;
        border-radius:2px;
    }
    .page-main .news-billboard li a:hover li:before{
      background-color: #ff7702;
    }
    .active-list{
      position:relative;

    }
    .news-billboard .active-list:before{
      position:absolute;
      left:0;
      background-image:url(../images/billboard-bg.png);
      background-repeat:no-repeat;
      background-color:#fff !important;
      width:17px;
      height:37px;
      line-height:30px;
    }
    .billboard-content a{
      color:#f00;
    }
    .billboard-content p span{
      color:#964702;
    }
    .billbord-count{
      margin-right:10px;

    }
    .billboard-images{
      float: left;
      margin-left:25px;

    }
    .billboard-content{
      float: left;
      width:90px;
      margin-left:30px;
    }
    .billboard-content p{
      margin:0;
    }
        .page-main-right {
          width: 265px;

          float: right;
          $right_panel_bg_color:#f9f9f9;
          /* rightside-panel*/
          .rightside-panel{
    margin-bottom:10px;
          .panel-title{
            font-size: 14px;
            margin: 0px;
            padding: 10px 10px;
            border: 1px solid $the_light_gray_color;
            color: $side_soo_title_color;
            background-color: $right_panel_bg_color;
            b{
              color: red;
            }
          }
          .panel-body{
            // a{
            //   display:block;
            //   margin-bottom:10px;
            // }
            padding:10px 10px 20px;
            border: 1px solid $the_light_gray_color;
            border-top: none;
            &:last-child:after{
                height: 0;
                content: ".";
                clear: both;
                display: block;
                visibility: hidden;
            }


          }
          }
          /* times-right-top*/
          .times-right-top{
            text-align:center;
            a{
              display: block;
            }
          }
          /* rightside-section-1*/
          .rightside-section-1{
          table{
            .the-top-one{
              height: 75px;
            }
          }
          }
          /* rightside-section-2*/



        }

  }
  /* page-main-right-section2*/
  .page-main-right-section3{

  }
  /* page-main-right-section3*/
  .page-main-right-section4{
    padding:10px;
      h2{
        color:#000;

      }
      .section4-slick-item{
        float: left;
        margin-right:20px;
        span{
          display:block;
          text-align:center;

        }
      }
      .section4-slick-item:nth-child(6n){
        margin-right:0;
      }
  }
  /* page-main-right-section4*/
}
}

.page-main-right-section1{
  /* itself style*/
  //margin-left: 220px;
  height: 290px;
  overflow: hidden;
  //padding: 8px;
  /* common first, begin*/
    .aoo-panel{

      h3{
        margin: 0px;
        font-size: 14px;
        padding: 3px 0px 13px 0px;
        border-bottom: 2px solid #ff4a00;
        font-weight: normal;
        b{
          color:#ff4a00;
        }
      }
      a,span{
        font-size: 12px;
        padding: 5px 0px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    /* common,end*/
  /* brands-focus*/
  .brands-focus{
    width: 690px;
    float: left;
    height: 280px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    padding: 8px;
    /* lunbo-left*/
    .lunbo-left{
      width: 392px;
      height: 263px;
      float: left;
      //position: relative;
      //overflow: hidden;
      /* reset slick style*/
      .slick-dots{
        bottom: 0px;
      }
      .slick-dots li button{
        color:#000;
        background: #fff;
        font-size: 10px;
        &:before{
          font-size: 0px;
        }
      }
      .slick-dots li.slick-active button{
        background-color: #fff;
        color: #fff;
      }
      
      /* lunbo-bottom*/
      .lunbo-bottom{
        position: absolute;
        height: 40px;
        left: 0px;
        bottom: -10px;
        //float: left;
        background-color: #1f1d1d;
        width: 100%;
      }
    }
    .brands-focus-panel{
      //float: left;
      width: 254px;
      overflow: hidden;
      margin-left: 420px;
      p{
        margin-top: 5px;
      }
    }
  }
  /* recommendation-daily*/
  .recommendation-daily{
    width: 263px;
    padding: 8px;
    margin-left: 10px;
    float: left;
    height: 280px;
    border: 1px solid #e0e0e0;
    overflow: hidden;
    .inner-panel{

    }
  }
}