/* set box-sizing:border-box*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 91 yellow page-main-area*/
.page-main-area{
	width: 1000px;
	margin: 0px auto;
	/* yellow-body-wrapper*/
	.yellow-body-wrapper{
		width: 714px;
		//height: 1000px;
		float: left;
		background-color: #fff;

	}
	/* yellow-side-wrapper*/
	.yellow-side-wrapper{
		$side_soo_title_color: #ff4a00;
		$the_light_gray_color:#e0e0e0;
		$side_soo_title_color: #ff4a00;
		$the_light_gray_color:#e0e0e0;
		$right_panel_bg_color:#f9f9f9;

		width: 272px;
		//height: 1000px;
		float: right;
		background-color: #fff;
		.side-sec-1,.side-sec-6{
			padding:15px;
			border:1px solid $the_light_gray_color;
			margin-bottom:10px;

		}
		.side-sec-2,.side-sec-3,.side-sec-4,.side-sec-5{
			margin-bottom:10px;
			.panel-title{
			  font-size: 14px;
			  color: $side_soo_title_color;
			  background-color: $right_panel_bg_color;
			  padding: 10px 10px;
			  border: 1px solid $the_light_gray_color;
			}
			.panel-body{
				border: 1px solid $the_light_gray_color;
			}
		}
		.side-sec-1{
			.side-sec-1-project{
				h2{
					color:#ff4a00;
					background-color:#eaeaea;
					padding:5px 30px;
					margin-top:5px;
				}
				div{
					margin:5px 25px 0;
					font-size:14px;
					color:#666666;
				}
				.project-price{
					color:#ff4a00;
				}

			}

		}
		.side-sec-3{
			.panel-body{
			        padding:10px 10px 20px;
			        border: 1px solid $the_light_gray_color;
			        border-top: none;
			        // a{
			        //   display:block;
			        //   margin-bottom:10px;
			        // }
			        &:last-child:after{
			            height: 0;
			            content: ".";
			            clear: both;
			            display: block;
			            visibility: hidden;
			        }
			        .the-firstone{
			          img{       float: left;
			                      width: 110px;
			                      margin-right:10px;
			                    }
			                    .the-firstone-content{
			                      float: left;
			                      width:120px;
			                    }
			                    .the-firstone-content a{

			                    color:#ff4a00;
			                    display:inline;
			                    }
			                    h2{
			                      margin:0;
			                      color:#666666;
			                      font-size:14px;
			                    }
			        }

			}
			.panel-title{
			  font-size: 14px;
			  margin: 0px;
			  padding: 10px 10px;
			  border: 1px solid $the_light_gray_color;
			  color: $side_soo_title_color;
			  background-color: $right_panel_bg_color;
			  b{
			    color: red;
			  }

			}
			.news-billboard{
			  padding:0;
			  margin:0;
			  counter-reset: li;
			}

			.news-billboard li{
			  list-style:none;
			  padding:8px 0;
			  border-bottom:1px dotted #bababa;
			}

			.news-billboard li>a{
			    display:inline-block;
			    width:120px;
			    overflow:hidden;
			   text-overflow:ellipsis;
			  white-space:nowrap;
			  position:relative;
			  top:3px;
			}
			.news-billboard li:before {
			    content: counter(li);
			    counter-increment: li;
			    color: white;
			    background-color: #666666;
			    width: 17px;
			    line-height: 17px;
			    display: inline-block;
			    position: relative;
			    text-align: center;
			    margin-right: 5px;
			    border-radius:2px;
			}
			.page-main .news-billboard li a:hover li:before{
			  background-color: #ff7702;
			}
			.active-list{
			  position:relative;

			}
			.news-billboard .active-list:before{
			  position:absolute;
			  left:0;
			  background-image:url(../images/billboard-bg.png);
			  background-repeat:no-repeat;
			  background-color:#fff !important;
			  width:17px;
			  height:37px;
			  line-height:30px;
			}
			.billboard-content a{
			  color:#f00;
			}
			.billboard-content p span{
			  color:#964702;
			}
			.billbord-count{
			  margin-right:10px;

			}
			.billboard-images{
			  float: left;
			  margin-left:25px;

			}
			.billboard-content{
			  float: left;
			  width:90px;
			  margin-left:30px;
			}
			.billboard-content p{
			  margin:0;
			}
		}
	}
}
$page_width:1000px;
$page_theme_color_1:#ff4a00;
/* yellow-bread-crumb*/
.yellow-bread-crumb{
	width: $page_width;
	margin: 0px auto;
	padding-left: 10px;
	height: 38px;
	line-height: 38px;
	color:#666;
	border-bottom: 1px solid $page_theme_color_1;
	a{
		font-size: 12px;
		color:#666;
	}
}
