/* set box-sizing:border-box*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* 91 yellow page-main-area*/
.page-main-area{
	width: 1000px;
	margin: 0px auto;
	/* yellow-body-wrapper*/
	.yellow-body-wrapper{
		width: 714px;
		//height: 1000px;
		float: left;
		background-color: #fff;
	}
	/* yellow-side-wrapper*/
	.yellow-side-wrapper{
		width: 272px;
		//height: 1000px;
		float: left;
		background-color: #fff;
	}
}
$page_width:1000px;
$page_theme_color_1:#ff4a00;
/* yellow-bread-crumb*/
.yellow-bread-crumb{
	width: $page_width;
	margin: 0px auto;
	padding-left: 10px;
	height: 38px;
	line-height: 38px;
	color:#666;
	border-bottom: 1px solid $page_theme_color_1;
	a{
		font-size: 12px;
		color:#666;
	}
}